<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <%= favicon_link_tag asset_path('volume-up.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>Podify</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
